.first {
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.box-wrappers {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bothTAreaNPreview {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 1fr 1fr;
}
.thisIsWhereTheTextGoes {
  width: 35vw;
  height: 70vh;
  min-width: 300px;
  border: 2px solid #9ca9b8;
}

.previous {
  background-color: #9ca9b8;
  padding-left: 5px;
  word-wrap: break-word;
  width: 35vw;
}

.expandArrows {
  position: fixed;
  bottom: 25px;
  font-size: 2em;
  cursor: pointer;
  color: #9ca9b8;
  transition: 0.5s ease-in-out;
  padding-left: 5px;
}
.expandArrows :hover {
  color: #969696;
}

.copyTo {
  position: fixed;
  right: 55%;
  bottom: 25px;
  font-size: 2em;
  cursor: pointer;
  color: #9ca9b8;
  transition: 0.5s ease-in-out;
}

.modalStyles {
  width: 99%;
  height: 81vh;
}
